.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
text-align: center;
font-family: Arial, sans-serif;
height: 25vh;
padding: 0px 10px;
}

.expanded {
  height: 55vh;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
  color: #1DB954; /* Spotify Green */
}
