.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
text-align: center;
font-family: Arial, sans-serif;
height: 30vh;
width: 95vw;
padding: 20px 0px;
}

.expanded {
  height: auto;
  gap: 60px; 
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
  color: #1DB954; /* Spotify Green */
}
