.container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 75%;
    /* gap: 5px;  */
    padding: 10px ;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    padding-top: 10px;
}

.hidden {
    display: none;
}

h3, p {
    color: white;
    padding: 5px 10px;
}

h3 {
    font-size: 1.15rem;
    font-weight: bold;
    border-bottom: solid 1px white;
    padding-bottom: 12px;
}

p {
    font-size: 0.9rem;
}