:root {  
  /* background-color: #121212; */
  background-image: url("/images/background-photo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
  background-attachment: fixed; /* Ensures the image scrolls with the content */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  /* border: solid 1px red; */
}

body {
  width: 90vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow-x: hidden;
  margin: 0 auto;
  
}

#root {
  margin-top: 70px;
}


