:root {  
  background-color: #121212;;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  border: solid 1px red;
}

body {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

#root {
  margin-top: 70px;
}


